a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 100px;
}
a:hover{
    color: white;
    background-color: #c5c5c5;
}
a img{
    height: 80%;
}
.Visible{
    display: block;
}
.Hidden{
    display: none;
}
#nav_bar{
    height: 10vh;
    display: flex;
    background-color: rgb(230, 230, 230);
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 2;
    opacity: 0.8;
}
#logo_space{
    width: 15%;
}
#products_space{
    display: flex;
    justify-content: space-between;
}
#search_space{
    display: flex;
    align-items: center;
    justify-content: center;
}
#search_space-input{
    width: 90%;
    height: 50%;
    display: flex;
}
#search_space-input-box{
    width: 90%;
    border-radius: 5px 0 0 5px;
    border: none;
}
#search_space-input-icon{
    width: 10%;
    background-color: grey;
    border-radius: 0 5px 5px 0 ;
}
#nav_vline{
    background-color: black;
    height: 80%;
    width: 0.1%;
    position: relative;
    top: 10%;
}
#user_space{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#user_space img{
    height: 80%;
    cursor: pointer;
}